.bootstrap-yop {
    width: 50%;
    margin: auto;

    .basic-yop-poll-container {
        padding: 1rem!important;
        border-radius: var(--u-border-radius-lg)!important;
        
            .basic-question-title {
                font-size: 1.2rem !important;
                font-weight: bold !important; 
            }

            span.basic-text{
                font-size: 1rem!important; 
            }

            .basic-other-answer .col-md-6,
            .basic-other-answer .col-sm-6,
            .basic-other-answer .col-xs-12 {
                width: 100% !important; /* Fuerza que el ancho sea del 100% */
                max-width: 100% !important;
            }
        
            .basic-other-answer .basic-input-text {
                width: 100% !important; /* Asegura que el input también ocupe todo el ancho */
            }

        .basic-vote a {
            background-color: var(--c-primary)!important;
            border: 1px solid var(--c-primary)!important;
            border-radius: var(--u-border-radius)!important;
            color: var(--bg-main)!important;
            font-size: 1rem!important;
            padding: 0.5rem 1rem!important;
            transition: all 0.2s ease-in!important;

            &:hover {
                background-color: var(--c-primary-dark)!important;
            }
        }
    }

}

@include mq("lg-down") {
    .bootstrap-yop {
        width: 70%;
        display: flex;
        .basic-yop-poll-container {
            width: 100%;
        }
    }
    
}

@include mq("md-down") {
    .bootstrap-yop {
        width: 80%;
    }
    
}